<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} | {{ settings.site_title }}</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #212121;
            color: #EDEDED;
        }
    </style>
  </head>
  <body>
    {{ content | safe }}
  </body>
</html>
